opencv-python
numpy
pandas
scikit-learn
matplotlib
seaborn
keras
keras-cv
tensorflow
torch
torchvision
pillow
scikit-image
ipywidgets
opencv-python
tf-explain
black[jupyter]
tensorflow-macos
tensorflow-metal
h5py